<div class="main-container">
  <h5>Datos generales</h5>
  <div class="form-column">
    <mat-form-field>
      <input matInput placeholder="Ingrese Clave" required>
      <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Ingrese Nombre" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Ingrese Apellidos" required>
    </mat-form-field>
  </div>

  <div class="form-column">
    <mat-form-field>
      <input matInput placeholder="Ingrese RFC">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Ingrese Telefono">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Ingrese E-mail">
    </mat-form-field>
  </div>

  <mat-divider class="mt-3 mb-3"></mat-divider>
  <!--Direccion-->
  <h5>Dirección</h5>
  <div class="form-column">
    <mat-form-field hintLabel="(Calle, numero de casa)">
      <input matInput placeholder="Ingrese direccion" required>
      <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Ingrese colonia">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Ingrese codigo postal">
    </mat-form-field>
  </div>

  <div class="form-column">
    <mat-form-field>
      <input matInput placeholder="Ingrese estado">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Ingrese municipio">
    </mat-form-field>
  </div>

  <div class="form-column-right">
    <button mat-raised-button color="primary">Guardar</button>
  </div>
</div>


