<div class="main-container">
  <div class="form-column">
    <mat-form-field>
      <input matInput placeholder="Inserte nombre" [formControl]="nombre" required>
      <mat-error *ngIf="nombre.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Inserte RFC">
    </mat-form-field>
  </div>

  <div class="form-column">
    <mat-form-field>
      <input matInput placeholder="Inserte clave">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Inserte correo">
    </mat-form-field>
  </div>

  <div class="form-column">
    <mat-form-field hintLabel="(calle, numero de casa)">
      <input matInput placeholder="Inserte direccion" [formControl]="nombre" required>
      <mat-error *ngIf="nombre.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Inserte codigo postal">
    </mat-form-field>
  </div>

  <div class="form-column">
    <mat-form-field>
      <input matInput placeholder="Inserte estado">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Inserte ciudad">
    </mat-form-field>
  </div>

  <div class="form-column">
    <mat-form-field>
      <input matInput placeholder="Inserte colonia">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Inserte telefono">
    </mat-form-field>
  </div>

  <div class="form-column-right">
    <button mat-raised-button color="primary">Guardar</button>
  </div>
</div>


