<div class="example-header top-20">
  <p>
    FOLIO: {{data.folio}}
  </p>

  <mat-form-field>
    <input matInput #filter placeholder="¿Que estas buscando?">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Numero resurtido Column -->
    <ng-container matColumnDef="numresurtido">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Numero de resurtido </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.numresurtido}} </mat-cell>
    </ng-container>

    <!-- Fecha Column -->
    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.fecha}} </mat-cell>
    </ng-container>

    <!-- Opciones Column -->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
      <mat-cell *matCellDef="let row; let i=index;">
        <button (click)="printPDF(row.numresurtido)" mat-icon-button>
          <mat-icon>print</mat-icon>
          {{row.index}}
        </button>

        <button *ngIf="(user.role === 'ADMIN_ROLE')"
                (click)="deleteResurtido(row.numresurtido)" mat-icon-button>
          <mat-icon>delete_forever</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    Sin resultados
  </div>

  <mat-paginator #paginator
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

