<div class="top-20">
  <h5>Cuenta</h5>
  <form [formGroup] = "forma" (ngSubmit)="agregar()" novalidate="novalidate">
    <div class="form-column mt-3">
      <mat-form-field>
        <input matInput placeholder="Ingrese usuario" formControlName="username" required>
        <mat-error *ngIf="forma.get('username').hasError('required')"> {{getErrorMessages()}} </mat-error>
        <mat-error *ngIf="forma.get('username').errors?.existeUsername"> Ese usuario ya existe </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Ingrese contraseña" formControlName="password" required>
        <mat-error *ngIf="!forma. get('password').valid"> {{getErrorMessages()}} </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Selecciona un rol" formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role.value">
            {{ role.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!forma. get('role').valid"> {{getErrorMessages()}} </mat-error>
      </mat-form-field>
    </div>
    <div class="form-column-right">
      <button mat-raised-button color="primary" type="submit" [disabled]="!forma.valid">Guardar</button>
    </div>
  </form>
</div>
