<div class="center row" id="brand">
  <img class="brand" src="/assets/brand/fantomas.png" width="280" height="100" alt="">
  <h2>Cuentas por cobrar</h2>
</div>

<div class="row">
  <form ngNativeValidate [formGroup]="formulario" (ngSubmit)="login()">
    <h1>Iniciar sesión</h1>
    <div class="form-container">
      <mat-form-field>
        <input formControlName="username" name="username"  matInput placeholder="Ingresa tu usuario" required>
        <mat-error *ngIf="formulario.value.username.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="password" name="password" matInput placeholder="Ingresa tu contraseña" type="password" required>
        <mat-error *ngIf="formulario.value.password.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Iniciar sesión</button>
    </div>
  </form>
</div>
