<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="openSide(isOpen)"><mat-icon>menu</mat-icon></button>
  <a [routerLink]="['/home']" class="title">
    <h1 class="example-app-name">Leirem</h1>
  </a>
  <span class="example-spacer"></span>

  <div class="search-box">
    <input type="text" placeholder="Search" class="search-txt">
    <a class="search-btn">
      <i class="fa fa-search" aria-hidden="true"></i>
    </a>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu"  class="menu-button">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="goToConfiguration()">
      <mat-icon>settings</mat-icon>
      <span>Configuración</span>
    </button>
    <!--<button mat-menu-item>-->
      <!--<mat-icon>notifications_off</mat-icon>-->
      <!--<span>Desactivar notificaciones</span>-->
    <!--</button>-->
    <button mat-menu-item (click)="_userService.logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>
</mat-toolbar>


