<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <mat-sidenav #snav
                 disableClose
                 [opened]="opened"
                 [mode]="mobileQuery.matches ? 'over' : 'push'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="side-nav">
      <mat-nav-list *ngFor="let menu of _sidebar.menu" class="side-list">
        <a mat-list-item [routerLink]="[menu.url]"><i [class]="menu.icono"></i>{{menu.titulo}}</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="pt-3 px-5">
      <app-breadcrumbs></app-breadcrumbs>
      <router-outlet (activate)="setRoutedComponent($event)"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
