<form (ngSubmit)="guardarCambios()" [formGroup]="formulario" #forma="ngForm" class="top-10">
  <div class="alert alert-success top-30" data-toggle="modal" data-target="#success" *ngIf="valido">Producto agregado con exito</div>
  <div class="alert alert-success top-30" data-toggle="modal" data-target="#success" *ngIf="actualizado">Producto modificado con exito</div>
  <div class="row animated fadeIn fast">
    <div class="col-md-6">
      <div class="form-group row" [ngClass]="{ 'has-danger': !formulario.get('codigo').valid && formulario.get('codigo').touched}">
        <label class="col-form-label col-sm-3 col-xl-3" for="codigo">Código:</label>
        <div class="col-sm-9 col-xl-9">
          <input [(ngModel)]="producto.codigo" class="form-control" type="text" placeholder="Ingresa codigo" formControlName="codigo">
          <div class="form-control-feedback" *ngIf="formulario.controls['codigo'].errors?.required && formulario.controls['codigo'].touched">
            El código es necesario.
          </div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{ 'has-danger': !formulario.get('marca').valid && formulario.get('marca').touched}">
        <label class="col-form-label col-sm-3" for="pwd">Marca:</label>
        <div class="col-sm-9 col-xl-9">
          <input [(ngModel)]="producto.marca" type="text" class="form-control" placeholder="Ingresa marca" formControlName="marca">
          <div class="form-control-feedback" *ngIf="!formulario.controls['marca'].valid && formulario.controls['marca'].touched">
            La marca es necesaria
          </div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{ 'has-danger': !formulario.get('modelo').valid && formulario.get('modelo').touched}">
        <label class="col-form-label col-sm-3" for="modelo">Modelo:</label>
        <div class="col-sm-9">
          <input [(ngModel)]="producto.modelo" type="text" class="form-control" placeholder="Ingresa modelo" formControlName="modelo">
          <div class="form-control-feedback" *ngIf="formulario.controls['modelo'].errors?.required && formulario.controls['modelo'].touched">
            El modelo es necesario.
          </div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{ 'has-danger': !formulario.get('identificador').valid && formulario.get('identificador').touched}">
        <label class="col-form-label col-sm-3" for="identificador">Identificador:</label>
        <div class="col-sm-9">
          <input [(ngModel)]="producto.identificador" type="text" class="form-control" placeholder="Ingresa identificador" formControlName="identificador">
          <div class="form-control-feedback" *ngIf="formulario.controls['identificador'].errors?.required && formulario.controls['identificador'].touched">
            El identificador es necesario.
          </div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{ 'has-danger': !formulario.get('precio').valid && formulario.get('precio').touched}">
        <label class="col-form-label col-sm-3" for="precio">Precio:</label>
        <div class="col-sm-9">
          <input [(ngModel)]="producto.precio" type="number" class="form-control" placeholder="Ingresa precio" formControlName="precio">
          <div class="form-control-feedback" *ngIf="formulario.controls['precio'].errors?.required && formulario.controls['precio'].touched">
            El precio es necesario.
          </div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{ 'has-danger': !formulario.get('costo').valid && formulario.get('costo').touched}">
        <label class="col-form-label col-sm-3" for="costo">Costo:</label>
        <div class="col-sm-9">
          <input [(ngModel)]="producto.costo" type="number" class="form-control" placeholder="Ingresa costo" formControlName="costo">
          <div class="form-control-feedback" *ngIf="formulario.controls['costo'].errors?.required && formulario.controls['costo'].touched">
            El costo es necesario.
          </div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{ 'has-danger': !formulario.get('cantidad').valid && formulario.get('cantidad').touched}">
        <label class="col-form-label col-sm-3" for="cantidad">Cantidad de mercancia:</label>
        <div class="col-sm-9">
          <input [(ngModel)]="producto.cantidad" type="number" class="form-control" placeholder="Ingresa cantidad" formControlName="cantidad">
          <div class="form-control-feedback" *ngIf="formulario.controls['cantidad'].errors?.required && formulario.controls['cantidad'].touched">
            La cantidad es necesaria.
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-sm-3" for="descripcion">Descripción:</label>
        <div class="col-sm-9">
          <textarea [(ngModel)]="producto.descripcion" rows="8" cols="100"
                    class="form-control" placeholder="Ingresa una descripcion del producto"
                    formControlName="descripcion">
        </textarea>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-lg btn-outline-primary pull-right">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</form>
