<div class="example-header top-20">
  <mat-form-field>
    <input matInput #filter placeholder="¿Que estas buscando?">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Clave Column -->
    <ng-container matColumnDef="clave">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Clave </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.clave}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="zona">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Zona </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.zona === null ?  'Sin zona asignada' : row.zona.idzona}} </mat-cell>
    </ng-container>


    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
    </ng-container>

    <!-- Apellidos Column -->
    <ng-container matColumnDef="direccion">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.direccion}} </mat-cell>
    </ng-container>

    <!-- Telefono Column -->
    <ng-container matColumnDef="colonia">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Colonia </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.colonia}} </mat-cell>
    </ng-container>

    <!-- Telefono Column -->
    <ng-container matColumnDef="telefono">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.telefono}} </mat-cell>
    </ng-container>

    <!-- Telefono Column -->
    <ng-container matColumnDef="director">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Director </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.director.nombre + ' ' + row.director.apellidos}} </mat-cell>
    </ng-container>

    <!-- Opciones Column -->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
      <mat-cell *matCellDef="let row; let i=index;">
        <button (click)="deleteItem(i, row.clave, row.nombre, row.director.nombre + ' ' + row.director.apellidos)" mat-icon-button>
          <mat-icon>delete_forever</mat-icon>
          {{row.index}}
        </button>
        <button [routerLink]="['/clientes/escuelas/escuela', row.clave]"
                mat-icon-button class="ml-4">
          <mat-icon>mode_edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    Sin resultados
  </div>

  <mat-paginator #paginator
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
