<div class="example-header fadeIn fast">
  <mat-form-field>
    <input matInput #filter placeholder="¿Que estas buscando?">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">
  <div class="row flex-row-reverse pr-3">
    <button mat-flat-button color="primary" appDebounceClick (debounceClick)="convertToPdf()">
      <mat-icon>printer</mat-icon>
      Generar reporte
    </button>
  </div>
  <div class="example-loading-shade" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>
  <table mat-table #table [dataSource]="dataSource" matSort id="tableToConvert">

    <!-- Clave Column -->
    <ng-container matColumnDef="clave">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Clave </th>
      <td mat-cell *matCellDef="let row"> {{row.clave}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let row"> <a [routerLink]="['../vendedor/escuela', {claveEscuela: row.clave, claveVendedor: idVendedor}]"> {{row.nombre}} </a> </td>
      <td mat-footer-cell *matFooterCellDef>Total</td>
    </ng-container>

    <!-- Deuda Column -->
    <ng-container matColumnDef="deuda">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Deuda </th>
      <td mat-cell *matCellDef="let row"> {{row.deuda | currency}} </td>
      <td mat-footer-cell *matFooterCellDef> {{getDeudaTotal() | currency}} </td>
    </ng-container>

    <!-- Pagado Column -->
    <ng-container matColumnDef="pagado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Pagado </th>
      <td mat-cell *matCellDef="let row"> {{row.pagado | currency}} </td>
      <td mat-footer-cell *matFooterCellDef> {{getPagadoTotal() | currency}} </td>
    </ng-container>

    <!-- Restante Column -->
    <ng-container matColumnDef="restante">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Restante </th>
      <td mat-cell *matCellDef="let row"> {{row.restante | currency}} </td>
      <td mat-footer-cell *matFooterCellDef> {{getRestanteTotal() | currency}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>

  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    Sin resultados
  </div>

  <mat-paginator #paginator
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="100"
                 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
