<div class="main-container">
  <mat-form-field class="form-row">
    <input matInput placeholder="Inserte clave">
  </mat-form-field>
  <mat-form-field class="form-row">
    <input matInput placeholder="Inserte descripción">
  </mat-form-field>
  <mat-form-field class="form-row">
    <input matInput placeholder="Inserte tipo">
  </mat-form-field>
  <mat-form-field class="form-row">
    <input matInput placeholder="Inserte almacenable">
  </mat-form-field>

  <div class="form-row-right form-row">
    <button mat-raised-button color="primary">Guardar</button>
  </div>
</div>


